.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
}
.h-100 {
    height: 100vh !important;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.slick-slider .slide-img-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: .4;
    z-index: 10;
}
.slider-light .slider-content {
    color: #fff;
}
.slick-slider .slider-content {
    position: relative;
    z-index: 15;
    text-align: center;
    margin: 0 6rem;
}
.slick-slider .slider-content h3 {
    font-size: 1.75rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}
.slick-slider .slider-content p {
    font-size: 1rem;
    opacity: .7;
}
.bg-plum-plate {
    background-image: linear-gradient(
135deg
, #06478d 50%, #7a6960 100%) !important;
}

.app-login-box h4 span {
    font-size: 1.1rem;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}