@import "partials/fonts",
"partials/reset",
"partials/mixin",

"partials/vars",
"partials/helper",
"partials/footer",
"partials/header";
@import "pages/home.scss";

/*style home*/

body {
    font-family: 'Inter', Arial;
    font-size: 14px;
    line-height: 1.4333;
    color: $text;
    height:100%;
    overflow-x: hidden;
}

.main{
    color: $main !important;

}
a:hover{
    color:$second;
}
.red{
    color: #d32f2f;
}
.text1{
    color:$text1 !important;
}
.h40{
    height: 40px !important;
    line-height: 20px;
}
.image-content-box{
    img{
        object-fit: contain;
    }
}
.borl1{
    border-left: 1px solid $border;
}
.borr1{
    border-right: 1px solid $border;
}
.borl{
    border-left: 1px solid $border;
}
.borr{
    border-right: 1px solid $border;
}
.divider-main2{
    margin: 10px 0px;
    height: 2px;
    background: $main;
    
}
.robotoCondensed{
    font-family: "RobotoCondensed";
}
.select-custom {
    position: relative;
    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        box-shadow: none;
        padding-right: 25px !important;
    }
    
    &:before {
        content: "\f107";
        font-family: "FontAwesome";
        position: absolute;
        width: 0px;
        top: 8px;
        right: 20px;
        pointer-events: none;
        height: 0px;

        color: #666;
    }
}
.form-control{
    border-color: $border;
    border-radius: 4px;
    box-shadow: none;
    color: $text;
    height: 36px;
    &[readonly]{
        cursor: not-allowed;
    }
    &:focus{
        border-color:$main;

        box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba($main,0.4);
    }
    &::placeholder{
        color: $text1;
        font-weight: normal;
    }
    &.borb{
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
.url{
    display: block;
    padding-left: 20px;
    position: relative;
    color: $main;

    &:before{
        position: absolute;
        top: 0px;
        left: 0px;
        font-family: FontAwesome;
        content: "\f105";
        font-size: 16px;
        color: $main;

    }

}
.tleft{
    text-align: left;
}
.links{
    list-style:none;
    margin:0px;
    padding:0px;
    >li{
        padding: 7px 0px;
    }
}
.modal-body{
    padding:20px;
    .actions{
        margin-top: 20px;
        .btn{
            min-width: 130px;
            margin: 0px 2px;
        }
    }
    
}
.modal{
    .close{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
.minw100{
    min-width: 100px !important;
}
.minw160{
    min-width: 160px !important;
}
.minw200{
    min-width: 200px !important;
}
.modal-header{
    padding: 10px 20px;
}


.overlay-common{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(#000,0.2);
    z-index: 98;
    display: none;
    &.show{
        display: block;
    }
}

.avatar{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img-fix{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.user{
    position: relative;
    cursor: pointer!important;
    .avatar{
        display: inline-block;
        vertical-align: middle;
    }
    .username{
        font-weight:500;
        padding-left: 5px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 3px;
    }
}

.breadcrumb{
    background: none;
    padding: 0px;
    margin: 0px;
    >li{
        text-align:left;
        >a{
            text-align:left;
            font-size: 16px;
            color:$text1;
        }
        &:last-child{
            >a{
                color: $text;
            }
        }

    }
    >li+li:before{
        content: ">";
    }
}
.link{
    color: $second;
    cursor: pointer;
    display: inline-block;
    &:hover{
        text-decoration: underline;
    }
}
.label-text{
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tright{
    text-align: right;
}
.block{
    display: block;
}
.mart10{
    margin-top:10px;
}
.dropdown-menu{
    margin: 0px;
}
.box-bg-gray{
    padding: 10px;
    border: 1px solid rgba($border,0.6);
    background: rgba($bg,0.6);
}
.check-action{
    display: inline-block;
    position: relative;
    .check{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
        z-index: 2;
        opacity: 0;
        margin:0px;
    }
    .name{
        padding-left: 25px;
        position: relative;
        display: block;
        min-height: 16px;
        &:before{
            content: "";
            width: 16px;
            height: 16px;
            position: absolute;
            top: 2px;
            left: 0px;
            border-radius: 3px;
            background-color: #fff;
            border: 1.5px solid $main;

        }
        &.vcenter{
            &:before{
                bottom:0px;
                margin:auto;
            }
            &:after{
                bottom:0px;
                margin:auto;
                top:0px;
            }
        }
        
    }
    .check:checked + .name{
        &:before{
            border-color: $main;
            color: #fff;
            font-family: ap;
            content: "\ea2b";
            font-size: 9px;
            background: $main;
            line-height: 14px;
            text-align: center;
        }
    }
    .check:disabled + .name{
        &:before{
            background: #C3C8D2;
            border:1px solid #C3C8D2;
        }
    }
    input[type="radio"] + .name{
        &:before{
            border-radius: 50%;

        }
        &:after{
            border-radius: 50%;
        }
    }
    input[type="radio"]:checked + .name{
        &:after{
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background: $main;
            left: 4px;
            top: 6px;

        }
        &:before{
            background: #fff;
            content: "";
            border-color: $main;
        }
        &.vcenter{
            &:after{
                top:0px;
            }
        }
    }

}
.marb0{
    margin-bottom:0px !important;
}
.list-check{
    .check-action{
        margin-right: 7px;
    }

}
.form-label-inline{
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 20px;
    .label-text,.input{
        display: table-cell;
        vertical-align: top;
    }
    .label-text{
        padding-top: 7px;
        padding-right: 10px;
        width: 140px;
    }
    &.lbw80{
        .label-text{
            width: 80px;
        }
    }
    &.lbw170{
        .label-text{
            width: 170px;
        }
        
    }
    &.lbw220{
        .label-text{
            width: 220px;
        }
    }

    &.lbw260{
        .label-text{
            width: 260px;
        }
    }

}
.list-check-action{
    list-style:none;
    margin: 0px;
    padding: 0px;
    li{
        margin-bottom: 10px;

    }
    &.-inline{
        li{
            display: inline-block;
            margin-right: 20px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}
.input-icon-left{
    position: relative;
    .form-control{
        padding-left: 35px;
    }
    .icon{
        position: absolute;
        top: 8px;
        left: 8px;
        color: $text1;
        font-size: 16px;
    }
}
.input-icon-right{
    position: relative;
    .form-control{
        padding-right: 35px;
    }
    .icon{
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 16px;
        color: $text1;
        pointer-events:none;
    }
}


.input-button-right{
    position: relative;
    padding-right: 160px;
    .btn{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 150px;
        min-width: 0px;
    }
}

.input-button-icon{
    position: relative;
    .form-control{
        padding-right: 50px;
    }
    .btn{
        position: absolute;
        top: 2px;
        right: 5px;
        width: 40px;
        min-width: 0px;
    }
}
.text{
    color: $text !important;
}

.marl20{
    margin-left: 20px !important;
}

.upload-file{
    cursor:pointer;
    margin-bottom:10px;
    position:relative;
    &.-loading{
        &:before{
            content:"";
            position:absolute;
            top:0px;
            right:0px;
            bottom:0px;
            left:0px;
            z-index:2;
            background:rgba(#fff,0.8);

        }
        &:after{
            content:"";
            width:50px;
            height:50px;
            position:absolute;
            top:0px;
            right:0px;
            left:0px;
            bottom:0px;
            z-index: 4;
            margin:auto;
            background-size:cover;
            background-position:center;
            /*background-image:url(../img/loading.svg);*/

        }

    }
    .file{
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        z-index: 10;
        opacity:0;
        height:100%;
        width:100%;
    }
    .btn{
        text-transform:none;
        border:1px dashed #aaa;
        width:100%;
        color:#555;
        display:block;
        height:auto;
    }
    .note{
        color:#999;
        margin-top:3px;
        font-size:12px;
        text-transform:none;
        font-style:italic;
        font-weight:normal;
    }
    &:hover{
        .btn{
            border-color:$main;
        }
    }
}
.badge{
    padding: 5px 15px;
    &.badge-default{
        background: rgba(130, 133, 138, 0.2);
        color: $text;
    }
    &.badge-warning{
        background: rgba($warning, 0.1);
        color: $warning;
    }
    &.badge-success{
        background: rgba($success, 0.1);
        color: $success;
    }
    &.badge-danger{
        background: rgba($danger, 0.1);
        color: $danger;
    }

}
.list-link{
    .link{
        padding: 3px 10px;
        font-size: 12px;
        text-decoration: none;

        &.disabled{
            color: #E9EBF0;
            cursor: not-allowed;
            pointer-events:none;

        }
    }
}
.file-upload-button{
    position: relative;
    .file{
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        z-index: 10;
        opacity:0;
        height:100%;
        width:100%;
    }
    
}
.list-files{
    margin-bottom:10px;
    .item{
        position:relative;
        color:$text;
        padding: 7px 10px;
        padding-right:30px;
        border-radius: 4px;
        &:hover,&.active{
            background: #F8E6DE;
        }
        a{
            display:block;
            white-space:nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
        .remove{
            position:absolute;
            top:10px;
            right:10px;
            cursor:pointer;
            color: $main;

        }
    }
    &.-icons{
        .item{
            padding-left: 30px;
            .icon{
                position: absolute;
                top: 10px;
                left: 10px;
                color: $main;
            }
        }
    }
}
.nowrap{
    white-space:nowrap;
}
.modal-open{
    padding-right:0px !important;
}
.second{
    color:$second !important;
}

.divider-gray{
    height: 1px;
    margin: 15px 0px;
    background: $border;
}
.btn{
    border-radius:4px;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    .icon{
        margin-right: 5px;
        background-size:0px;
        font-size: 14px;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        img{
            height: 16px;
        }
    }
    &:hover,&.active:focus,&.active,&:active{
        background: none;
        outline: none;
        .icon{
            background-size: contain;
            img{
                opacity: 0;
            }
        }
    }
}

.back{
    font-weight: 500;
    color: $text;
    cursor: pointer;
    display: block;
    padding: 5px 0px;
    .icon{
        margin-right: 5px;
    }
}

.wrap{
    padding: 15px;
}

.actions{
    .btn{
        margin: 0px 3px;
    }
}
.btn-third{
    border-color:#82858A;
    color: $main;
    background-color: #fff;
    &:hover{
        border-color: $main;
        color: #fff;
        background-color: $main;
    }
    &.md{
        font-size: 14px;
    }
    &.style02{

        border: 2px solid #EDF0FC;
        color: #99A0A9;
        font-size: 14px;
        &:hover{
            background: $main;
            color: #fff;
        }
    }
}
.input-more{
    position: relative;
    padding-right: 80px;
    .btn{
        position: absolute;
        width: 70px;        
        top: 0px;
        min-width: 0px;
        right: 0px;
    }
}
.mart20{
    margin-top: 20px !important;
}
.btn-second{
    border-color:$main!important;
    color: $main!important;
    background-color: #fff!important;
    &:hover{
        border-color: $main!important;
        color: #fff!important;
        background-color: $main!important;
    }
    &.md{
        font-size: 14px;
    }
}
.btn-main{
    border-color:$main!important;
    color: #fff!important;
    background-color: $main!important;
    &:hover{
        border-color: darken($main, 10)!important;
        color: #fff!important;
        background-color:  darken($main, 10)!important;
    }
    .icon{
        background-size:contain;
        img{
            opacity: 0;
        }
    }
    &.md{
        font-size: 14px;
    }
    &[disabled]{
        background:#C3C8D2!important;
        opacity: 1;
        border-color:#C3C8D2!important;
    }

}
.btn-line-second{
    border-color:$second;
    color: $second;
    background-color: #fff;
    &:hover{
        border-color: $second;
        color: #fff;
        background-color: $second;
    }
    &.md{
        font-size: 14px;
    }
}
.btn-main-second{
    border-color:$second;
    color: #fff;
    background-color: $second;
    font-size: 12px;
    &:hover{
        border-color: darken($second, 10);
        color: #fff;
        background-color:  darken($second, 10);
    }
    .icon{
        background-size:contain;
        img{
            opacity: 0;
        }
    }
    &.md{
        font-size: 14px;
    }
    &[disabled]{
        background:#C3C8D2;
        opacity: 1;
        border-color:#C3C8D2;
    }

}

.btn-warning-cus{
    background: rgba(#EC4141,0.1);
    color: #EC4141;
    font-size:12px;
    font-weight:600;
}
.btn[disabled]{
    background: none;
    border:1px solid $text1;
    color: $text1;
}
.input-search{
    position: relative;
    .form-control{
        padding-left: 30px;
        border:0px;
        &:focus{
            box-shadow: none;
        }

    }
    .icon{
        position: absolute;
        top: 10px;
        left: 5px;
        color: #82858A;
    }

}

.main-wrapper{
    position: absolute;
    top: 70px;
    left: 260px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    overflow: auto;
    background-color: #f9f9f9;
}

.main-wrapper-none{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    overflow: auto;
}

.main-title{
    font-size: 24px;
    font-weight:500;
    margin: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.row{
    margin: 0px -10px;
    .col-12,.col-xs-12{
        padding: 0px 10px;
    }
}

.box-search{
    position: relative;
    .btn-search{
        position: absolute;
        top: 0px;
        right: 0px;
        &:hover{
            background: $main;
            color: #fff;
        }
    }
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button;
    }
    .btn-clear {
        position: absolute;
        right: 105px;
        top: 0;
        bottom: 0;
        height: 14px;
        margin: auto;
        font-size: 14px;
        cursor: pointer;
        color: #ccc;
    }
    .input-icon-right{
        .icon{
            color: $main;
        }
    }
    .form-control{
        color: $text;
        width: calc(100% - 100px);
        font-weight: 500;
        &::placeholder{
            color: $main;
        }
    }
    .select-custom{
        &:before{
            color: $main;
        }
    }
}
.table-result{
    tbody{
        tr:nth-child(2n+2){
            background: #e6f7ff;
        }
    }
}

.group-buttons.-bottom{
    text-align: center;
    margin-top: 40px;
    .btn{
        min-width: 160px;
        margin: 5px;
    }
}

.text-warning{
    color: $warning !important;
}
.text-success{
    color: $success !important;
}
.text-danger{
    color: $danger !important;
}

@media(max-width: 1100px){
    .sidebar{
        position: fixed;
        visibility: hidden;
        opacity: 0;
        left: -100%;
        transition: all 0.3s ease;
        &.show{
            left: 0px;
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease;
        }

    }
    .main-wrapper{
        left: 0px;

    }
}

.select2-container--default  {
    .select2-selection--single{
      padding: 5px 10px;
      height: 38px!important;
      border-color: #CE7A58!important;
      font-weight: 600!important;
      .select2-selection__placeholder
      {
        color: #CE7A58!important;
        font-weight: normal!important;
      }
      .select2-selection__arrow {
        background-color: #CE7A58;
        width: 40px;
        color: #fff;
        font-size: 1.3em;
        padding: 4px 12px;
        height: calc(100% - 2px)!important;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 20px;
        b{
          border-color: #fff transparent transparent transparent!important;
        }
      }
    }
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #fff transparent!important;
    border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #CE7A58!important;
    color: white;
}
.invalid-feedback {
    display: block!important;
}
.swal2-styled.swal2-confirm {
    background-color: #903938!important;
}

.swal2-title {
    font-size: 18px!important;
}

.header .menus-right .dropdown-menu {
    min-width: 180px;
}
 
.validate-mgs{
    position: absolute!important;
    padding: 5px 10px !important;
    background: #CE7A58!important;
    color: #fff!important;
    border: 1px solid #CE7A58;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 14px;
  }
  
  .validate-mgs:after, .validate-mgs:before {
      bottom: 100%;
      left: 10%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  
  .validate-mgs:after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #CE7A58;
      border-width: 5px;
      margin-left: -5px;
  }
  .validate-mgs:before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: #CE7A58;
      border-width: 6px;
      margin-left: -6px;
  }

  .clearfix{
      padding-top: 20px!important;
  }

.call-wrapper .group-buttons .btn {
    margin: 5px 3px!important;
}
/* Language */
.langVN
{
    background-image: url("../../assets/images/flags/vietnam.png");
    background-repeat: no-repeat;
    width: 29px;
    height: 17px;
}
.langEN
{
    background-image: url("../../assets/images/flags/england.png");
    background-repeat: no-repeat;
    width: 29px;
    height: 17px;
}


.w100 {
    width: 100px !important;
}



.w200 {
    width: 200px !important;
}

.w300 {
    width: 300px !important;
}

.w400 {
    width: 400px !important;
}

.w500 {
    width: 500px !important;
}

.w600 {
    width: 600px !important;
}

.w700 {
    width: 700px !important;
}

.w800 {
    width: 800px !important;
}

.w900 {
    width: 900px !important;
}

.w1000 {
    width: 1000px !important;
}

.w5 {
    width: 5px !important;
}

.w10 {
    width: 10px !important;
}

.w15 {
    width: 15px !important;
}

.w20 {
    width: 20px !important;
}

.w25 {
    width: 25px !important;
}

.w30 {
    width: 30px !important;
}

.w35 {
    width: 35px !important;
}

.w40 {
    width: 40px !important;
}

.w45 {
    width: 45px !important;
}

.w50 {
    width: 50px !important;
}

.w60 {
    width: 60px !important;
}

.w70 {
    width: 70px !important;
}

.w80 {
    width: 80px !important;
}

.w90 {
    width: 90px !important;
}

.w10p {
    width: 10% !important;
}

.w20p {
    width: 20% !important;
}

.w30p {
    width: 30% !important;
}

.w40p {
    width: 40% !important;
}

.w50p {
    width: 50% !important;
}

.w60p {
    width: 60% !important;
}

.w70p {
    width: 70% !important;
}

.w80p {
    width: 80% !important;
}

.w90p {
    width: 90% !important;
}

.w100p {
    width: 100% !important;
}

.w120 {
    width: 120px !important;
}

.w150 {
    width: 150px !important;
}


.h100 {
    height: 100px !important;
}

.h200 {
    height: 200px !important;
}

.h300 {
    height: 300px !important;
}

.h400 {
    height: 400px !important;
}

.h500 {
    height: 500px !important;
}

.h600 {
    height: 600px !important;
}

.h700 {
    height: 700px !important;
}

.h800 {
    height: 800px !important;
}

.h900 {
    height: 900px !important;
}

.h1000 {
    height: 1000px !important;
}

.uppercase {
    text-transform: uppercase;
}

.btn-u {
    text-transform: uppercase;
}

.table td, .table th {
    padding: .45rem!important;
}

table.loading {
    position: relative;
}
table.loading:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);  background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    content: "";
    background-image: url("../img/loading/Infinity-2s-437px.gif");
}

.control-label span{
    color: red;
    font-style: italic;
}
.center {
    text-align: center!important;
}

.anticon {
    vertical-align: 0px!important;
}

.tolower{
    text-transform: lowercase;
}
.toupper{
    text-transform: uppercase;
}

.ant-form-item {
    margin-bottom: 10px!important;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    min-height: 40px;
    height: auto!important;
}
.ant-menu-item, .ant-menu-submenu-title {
    white-space: normal!important;
}
.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 40px!important;
}