// color
.background-graylight {
    background-color: rgba(246,247,249,1);
}
.background-white {
    background-color: #fff !important;
}
.bg-none {
    background:none !important;
}
.noradius,.nocorner{
    border-radius: 0px !important;
}
.bg-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
// grid
// @for $i from 1 through 12 {
//     .container-col-#{$i} {
//         width: percentage($i/12);
//         margin: 0 auto;
//         @include mediaMaxWidth(768px) {
//             width: 100%;
//             padding: 0 20px;
//         }
//     }
// }

// @for $i from 1 through 12 {
//     .grid-col-#{$i} {
//         width: percentage($i/12);
//         float: left;
//         @include mediaMaxWidth(768px) {
//             width: 100%;
//         }
//     }
// }

// @for $i from 1 through 10 {
//     .grid10-col-#{$i} {
//         width: percentage($i/10);
//         float: left;
//         @include mediaMaxWidth(768px) {
//             width: 100%;
//         }
//     }
// }
// 
.full-content-center{
    
    position:absolute;
    top:50%;
    left:0px;
    right:0px;
    text-align:center;
    transform:translateY(-50%);
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fri {
    float: right !important;
}

.lsn,
.lsn>li {
    list-style: none;
}

.posr {
    position: relative;
}

.posa {
    position: absolute;
}

.posf {
    position: fixed;
}

.imgdf>img {
    max-width: 100%;
    width: auto;
    height: auto;
    border: none;
}

.hidden {
    display: none;
}

.dib {
    display: inline-block;
}
.dtb {
    display: table;
}

.dtbc {
    display: table-cell;
}

.pt0 {
    padding-top: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.tac {
    text-align: center;
}

.taj {
    text-align: justify;
}

.ttu {
    text-transform: uppercase;
}

.tdu {
    text-decoration: underline;
}

.tdn {
    text-decoration: none;
}

.fwb {
    font-weight: bold;
}
.vat {
    vertical-align: top !important;
}

.fwb {
    font-weight: bold;
}
.fw2 {
    font-weight: 200;
}
.fw3 {
    font-weight: 300;
}
.fw4 {
    font-weight: 400;
}
.fw5 {
    font-weight: 500;
}
.fw6 {
    font-weight: 600;
}
.fw7 {
    font-weight: 700;
}
.fw8 {
    font-weight: 800;
}
.fw9 {
    font-weight: 900;
}

.fwsb {
    font-weight: 600;
}

.color-blue {
    color: #824198;
}
.color-blue-bold {
    color: #4B3C50;
}
.color-gray-bold {
    color: #63676E;
}

.ovfh {
    overflow: hidden;
}
.img-background-full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    min-height: 101%;
    min-width: 101%;
}

.tar {
    text-align: right;
}
.absolute {
    position: absolute !important; 
}

.relative {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}

.normal {
    font-weight: normal !important;
}

.bold {
    font-weight: bold !important;
}
.w40{
    width: 40px !important;
}
.tleft {
    text-align: left !important;
}

.tright {
    text-align: right !important;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.upper {
    text-transform: uppercase;
}

.left,
.ap-left {
    float: left;
}

.right,
.ap-right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.hidden {
    display: none;
}

@mixin xdot {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.xdot {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.autowrap{
    white-space: normal !important;
}
.xo,
.ap-xo {
    overflow: hidden;
}

.full {
    width: 100%;
    
    height: 100%;
}

.fullw {
    width: 100%;
}

.fullh {
    height: 100%;
}

.halfw {
    width: 50%;
}

.block {
    display: block !important;
}

.inline {
    display: inline-block !important;

}

.cell {
    display: table-cell !important;
    @media(max-width: 768px){
        display: block !important;
    }
}
div.table {
    display: table;
    @media(max-width: 768px){
        display: block;
    }
}

.invisible,
.ap-invisible {
    opacity: 0;
    filter: alpha(opacity=0);
}

.vtop {
    vertical-align: top;
}

.vcenter {
    vertical-align: middle;
}

.vbottom {
    vertical-align: bottom;
}

@for $i from 0 through 100 {
    .f#{$i} {
        font-size: #{$i}px !important;
    }
    /*padding*/
    .pad#{$i} {
        padding: #{$i}px !important;
    }
    .padl#{$i}{
        padding-left: #{$i}px !important;   
    }
    .padr#{$i}{
        padding-right: #{$i}px !important;   
    }
    .padt#{$i}{
        padding-top: #{$i}px !important;   
    }
    .padb#{$i}{
        padding-bottom: #{$i}px !important;   
    }
    .padtb#{$i}{
        padding-top: #{$i}px !important;   
        padding-bottom: #{$i}px !important;   
    }
    .padlr#{$i}{
        padding-left: #{$i}px  !important;   
        padding-right: #{$i}px  !important;   
    }

    /*margin*/
    .mar#{$i} {
        margin: #{$i}px !important;
    }
    .marl#{$i}{
        margin-left: #{$i}px !important;   
    }
    .marr#{$i}{
        margin-right: #{$i}px !important;   
    }
    .mart#{$i}{
        margin-top: #{$i}px !important;   
    }
    .marb#{$i}{
        margin-bottom: #{$i}px !important;   
    }
    .martb#{$i}{
        margin-top: #{$i}px !important;   
        margin-bottom: #{$i}px !important;   
    }
    .marlr#{$i}{
        margin-left:#{$i}px !important;   
        margin-right:#{$i}px !important;   
    }
    .lh#{$i}{
        line-height: #{$i}px !important; 
    }
    .w#{$i}{
        width: #{$i}px !important; 
    }
    .h#{$i}{
        height: #{$i}px !important; 
    }
    .x#{$i}{
        width: #{$i}px !important; 
        height: #{$i}px !important;
    }


}


.thin {
    font-weight: 300 !important;
}

.thick {
    font-weight: 500 !important;
}

.minw100{
    min-width: 100px !important;
}
.minw150{
    min-width: 150px !important;
}
.minw120{
    min-width: 120px !important;
}
.maxw100{
    max-width: 100px !important;
}
.maxw150{
    max-width: 150px !important;
}
.h-auto{
    height: auto !important;
}

$sizes: 16, 24, 32, 48, 64, 128, 256;
@each $size in $sizes {
    .x#{$size} {
    
        height: #{$size}px !important;
        width: #{$size}px !important;
    }
    .w#{$size} {
    
        width: #{$size}px !important;
    }
    .h#{$size} {
    
        height: #{$size}px !important;
    }

}

.maxw120{
    max-width: 120px !important;
}
.circle{
    border-radius: 50% !important;
}
.bg-gray{
    background:#f5f5f5;
}
.w100{
    width:100px !important;
}
.text-white{
    color: white !important;
}
.bor0{
    border:0px !important;

}
.bor1{
    border:1px solid $border1 !important;
}
@mixin borderbox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
@media (max-width: 1024px) {
    .hidden-devide-1024 {
        display: none !important;
    }
}

@media (min-width: 1025px) {
    .show-devide-1024 {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .hidden-devide-768 {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .show-devide-768 {
        display: none !important;
    }
}

$borderw1: 1px solid $border;
.borr{
    border-right: $borderw1 !important;
}
.borl{
    border-left: $borderw1 !important;
}
.bort{
    border-top: $borderw1 !important;
}
.borb{
    border-bottom: $borderw1 !important;
}