$main:#06478d !global;
$second:#06478d !global;
$third:#67A99F !global;
$fourth:#FEBF60 !global;
$fifth:#3F4E9F !global;
$border:#C3C8D2;
$border1:#E9EBF0;
$text:#292D34;
$link:#2A6EBB;
$bg:#F2F4F7;
$danger:#ED5050;
$warning:#FF8C00;
$text1:#82858A;

$success:#219653;

