<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="close()" [nzKeyboard]="false" [nzMaskClosable]="false" nzWidth="820px">
  <ng-template #modalTitle>{{ (isAdd ? 'global_add_item' : 'global_edit_item') | translate}}</ng-template>
  <ng-template #modalContent>
    <nz-spin [nzSpinning]="isSpinning" nzSimple style="text-align: center;"></nz-spin>
    <form *ngIf="!isSpinning" nz-form [formGroup]="validateForm" nzLayout="vertical">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="appCode">Mã ứng dụng</nz-form-label>
            <nz-form-control [nzErrorTip]="errorAppCode">
              <input nz-input formControlName="appCode" id="appCode" (ngModelChange)="updateAppCodeValidator()" [(ngModel)]="dataForm.appCode"  placeholder="Nhập mã ứng ụng"/>
              <ng-template #errorAppCode let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Vui lòng nhập mã ứng dụng!
                </ng-container>
                <ng-container *ngIf="control.hasError('isExistedAppCode')">
                  Mã ứng dụng đã tồn tại!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="appName">Tên ứng dụng</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập tên ứng dụng!">
              <input nz-input formControlName="appName" id="appName" [(ngModel)]="dataForm.appName"
                placeholder="Nhập tên ứng dụng" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label>Hình ứng dụng</nz-form-label>
            <nz-form-control>
              <div class="avatar-container">
                <nz-spin [nzSpinning]="isSpinningAvatar">
                  <nz-avatar [nzSrc]="appAvatarUrl"></nz-avatar>
                  <i class="fa fa-edit avatar-edit" (click)="file.click()"></i>
                <input type="file" #file style="display:none" (change)="selectFile($event)" name="image" />
                </nz-spin>
              </div>
            </nz-form-control>
          </nz-form-item> 
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzFor="fileAndroid">Gói Android:
              <nz-radio-group class="d-flex" style="margin-left: 10px;" formControlName="radioAndroid">
                <label nz-radio nzValue="FILE">File</label>
                <label nz-radio nzValue="LINK">Link</label>
              </nz-radio-group>
            </nz-form-label>
            <nz-form-control *ngIf="validateForm.value.radioAndroid=='FILE'" class="file-drag" [nzErrorTip]="errAndroidFile">
                <input #fileInput hidden type="file" formControlName="fileAndroid"/>
                <div *ngIf="!androidFile" class="w-100"
                     style="height: 50px; display: flex; justify-content: center; align-items: center;">
                  <span>
                    Kéo thả file hoặc 
                    <span style="color: #1265b6; cursor: pointer;" (click)="fileInput.click()">
                      Duyệt
                    </span>
                  </span>
                </div>
                <div *ngIf="androidFile">
                  <div style="margin-bottom: 8px;">
                    <div style="margin-left: 8px;display: flex;align-items: center;">
                        <i [class]="fileColor(file.fileType)"
                          nz-icon
                          [nzType]="nzIcon(file.fileType)"
                          style="font-size: 18px"
                        ></i>
                        <span style="
                            padding-left: 8px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;">
                            {{ file.fileOriginalName }}
                          <span>-{{ file.displayFileSize }}</span>
                        </span>

                        <!-- <i
                          class="mdi mdi-close-circle cursor-pointer px-2"
                          (click)="
                            onRemoveInheritFile(i); updateFileValidator()
                          "
                        ></i> -->
                      </div>
                    <!-- <div class="py-1" *ngFor="let item of selectingFiles; index as i">
                      <div style="margin-left: 8px; display: flex; align-items: center;">
                        <i [class]="fileColor(item.fileType)" nz-icon [nzType]="nzIcon(item.fileType)" style="font-size: 18px;"></i>
                        <span style="padding-left: 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                          {{item.file.name}} <span>-{{item.displaySize}}</span>
                        </span>
                        <i class="mdi mdi-close-circle cursor-pointer px-2" (click)="onRemoveFileAttach(i);updateFileValidator()"></i>
                      </div>
                      <div *ngIf=" item.size > maxsizefile" style="color: #ff4d4f; margin-left: 16px;">
                        {{'create_task.file_max_size'| translate}} 25 MB
                      </div>
                    </div> -->
                  </div>
                  <a style="font-weight: 500;" (click)="fileInput.click()">
                    Sửa
                  </a>
                </div>
                <ng-template #errAndroidFile>
                  <p *ngIf="isErrAndroidFile" style="border-color: #ff4d4f">{{'create_task.err_list_file' | translate}}</p>
                </ng-template>
            </nz-form-control>
            <nz-form-control *ngIf="validateForm.value.radioAndroid=='LINK'" nzErrorTip="Vui lòng nhập link!">
              <input nz-input formControlName="appLink" id="appLink" [(ngModel)]="dataForm.appLink"
                placeholder="Nhập link" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzFor="fileIOS">Gói IOS:
              <nz-radio-group class="d-flex" style="margin-left: 10px;" formControlName="radioIOS">
                <label nz-radio nzValue="FILE">File</label>
                <label nz-radio nzValue="LINK">Link</label>
              </nz-radio-group>
            </nz-form-label>
            <nz-form-control *ngIf="validateForm.value.radioIOS=='FILE'" class="file-drag" [nzErrorTip]="errIOSFile">
                <input #fileInput hidden type="file" formControlName="fileIOS"/>
                <div *ngIf="!iosFile" class="w-100"
                     style="height: 50px; display: flex; justify-content: center; align-items: center;">
                  <span>
                    Kéo thả file hoặc 
                    <span style="color: #1265b6; cursor: pointer;" (click)="fileInput.click()">
                      Duyệt
                    </span>
                  </span>
                </div>
                <div *ngIf="iosFile">
                  <div style="margin-bottom: 8px;">
                    <div style="margin-left: 8px;display: flex;align-items: center;">
                        <i [class]="fileColor(file.fileType)"
                          nz-icon
                          [nzType]="nzIcon(file.fileType)"
                          style="font-size: 18px"
                        ></i>
                        <span style="
                            padding-left: 8px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;">
                            {{ file.fileOriginalName }}
                          <span>-{{ file.displayFileSize }}</span>
                        </span>

                        <!-- <i
                          class="mdi mdi-close-circle cursor-pointer px-2"
                          (click)="
                            onRemoveInheritFile(i); updateFileValidator()
                          "
                        ></i> -->
                      </div>
                    <!-- <div class="py-1" *ngFor="let item of selectingFiles; index as i">
                      <div style="margin-left: 8px; display: flex; align-items: center;">
                        <i [class]="fileColor(item.fileType)" nz-icon [nzType]="nzIcon(item.fileType)" style="font-size: 18px;"></i>
                        <span style="padding-left: 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                          {{item.file.name}} <span>-{{item.displaySize}}</span>
                        </span>
                        <i class="mdi mdi-close-circle cursor-pointer px-2" (click)="onRemoveFileAttach(i);updateFileValidator()"></i>
                      </div>
                      <div *ngIf=" item.size > maxsizefile" style="color: #ff4d4f; margin-left: 16px;">
                        {{'create_task.file_max_size'| translate}} 25 MB
                      </div>
                    </div> -->
                  </div>
                  <a style="font-weight: 500;" (click)="fileInput.click()">
                    Sửa
                  </a>
                </div>
                <ng-template #errIOSFile>
                  <p *ngIf="isErrIOSFile" style="border-color: #ff4d4f">{{'create_task.err_list_file' | translate}}</p>
                </ng-template>
            </nz-form-control>
            <nz-form-control *ngIf="validateForm.value.radioIOS=='LINK'" nzErrorTip="Vui lòng nhập link!">
              <input nz-input formControlName="appLink" id="appLink" [(ngModel)]="dataForm.appLink"
                placeholder="Nhập link" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzFor="appVersion">Phiên bản</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập phiên bản!">
              <input nz-input formControlName="appVersion" id="appVersion" [(ngModel)]="dataForm.appVersion"
                placeholder="Nhập phiên bản" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzFor="appPackage">Gói cài đặt</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập gói cài đặt!">
              <input nz-input formControlName="appPackage" id="appPackage" [(ngModel)]="dataForm.appPackage"
                placeholder="Nhập gói cài đặt" />
            </nz-form-control>
          </nz-form-item>
        </div> -->
      </div>
      <div nz-row [nzGutter]="24" style="height: 90px;">
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label nzFor="appDescription">Mô tả</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="appDescription" id="appDescription"
                [(ngModel)]="dataForm.appDescription" placeholder="Nhập mô tả"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="appStatus">{{'users_active' | translate}}</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn trạng thái!">
              <nz-select formControlName="appStatus" id="appStatus" [(ngModel)]="dataForm.appStatus"
                nzPlaceHolder="Chọn trạng thái">
                <nz-option *ngFor="let item of dataStatus" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" *ngIf="!isSpinning" (click)="submitForm()" [nzLoading]="isConfirmLoading"><i
        nz-icon nzType="save"></i>{{ (isAdd ? 'global_create' : 'global_edit') | translate}}</button>
    <button nz-button nzType="default" (click)="close()"><i nz-icon nzType="close"></i>{{'global_cancel' |
      translate}}</button>
  </ng-template>
</nz-modal>