<nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="close()"
      [nzKeyboard]="false"
      [nzMaskClosable]="false"
      nzWidth="820px"
    >
      <ng-template #modalTitle>{{ (isAdd ? 'global_add_item' : 'global_edit_item') | translate}}</ng-template>
      <ng-template #modalContent>
        <nz-spin [nzSpinning]="isSpinning" nzSimple style="text-align: center;"></nz-spin>
        <form  *ngIf="!isSpinning"  nz-form [formGroup]="validateForm" nzLayout="vertical">
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="userCode">{{'users_code' | translate}}/{{'accounts_name' | translate}}</nz-form-label>
                <nz-form-control [nzErrorTip]="errorUsercode">
                  <input nz-input formControlName="userCode" id="userCode" (ngModelChange)="updateUserCodeValidator()" [(ngModel)]="dataForm.userCode"  placeholder="{{'users_code_placeholder' | translate}}"/>
                  <ng-template #errorUsercode let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      {{'users_code_require' | translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('isExistedUserCode')">
                      {{'users_code_existed' | translate }}
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="userPassword">{{'accounts_password' | translate}}</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="{{'accounts_password_require' | translate}}">
                  <nz-input-group [nzSuffix]="suffixTemplate">
                     <input nz-input type="password" formControlName="userPassword" id="userPassword"
                        [(ngModel)]="dataForm.userPassword"
                        [type]="passwordVisible ? 'text' : 'password'" autocomplete="new-password"
                        placeholder="{{'accounts_password_placeholder' | translate}}" />
                  </nz-input-group>
                  <ng-template #suffixTemplate>
                     <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label>{{'users_avatar' | translate}}</nz-form-label>
                <nz-form-control>
                  <div class="avatar-container">
                    <nz-spin [nzSpinning]="isSpinningAvatar">
                      <nz-avatar [nzSrc]="userAvatarUrl"></nz-avatar>
                      <i class="fa fa-edit avatar-edit" (click)="file.click()"></i>
                  
                    <input type="file" #file style="display:none" (change)="selectFile($event)" name="image" />
                    </nz-spin>
                  </div>
                </nz-form-control>
              </nz-form-item> 
            </div>
          </div>  
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="userFullname">{{'users_fullname' | translate}}</nz-form-label>
                <nz-form-control nzErrorTip="{{'users_fullname_require' | translate}}">
                  <input nz-input formControlName="userFullname" id="userFullname" [(ngModel)]="dataForm.userFullname"  placeholder="{{'users_fullname_placeholder' | translate}}"/>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzFor="userBirthday">{{'users_birthday' | translate}}</nz-form-label>
                <nz-form-control>
                  <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="userBirthday" id="userBirthday" nzAllowClear="false" [(ngModel)]="dataForm.userBirthday" class="w100p" nzPlaceHolder="{{'users_birthday_placeholder' | translate}}"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label  nzFor="userFirstname">{{'users_gender' | translate}}</nz-form-label>
                <nz-form-control>
                  <nz-radio-group nzName="radiogroup"  formControlName="userGender" id="userGender" [(ngModel)]="dataForm.userGender" >
                    <label nz-radio nzValue="1">{{'users_gender_male' | translate}}</label>
                    <label nz-radio nzValue="0"> {{'users_gender_female' | translate}}</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="userPhoneNumber">{{'users_phone' | translate}}</nz-form-label>
                <nz-form-control [nzErrorTip]="errorPhone">
                  <input nz-input formControlName="userPhoneNumber" id="userPhoneNumber" [(ngModel)]="dataForm.userPhoneNumber"  (ngModelChange)="updatePhoneValidator()"  placeholder="{{'users_phone_placeholder' | translate}}"/>
                  <ng-template #errorPhone let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      {{'users_phone_require' | translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('notPhoneNumber')">
                      {{'global_phone_invalid' | translate}}
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="userEmail">{{'users_email' | translate}}</nz-form-label>
                <nz-form-control [nzErrorTip]="errorEmail">
                  <input nz-input type="email" formControlName="userEmail" id="userEmail" [(ngModel)]="dataForm.userEmail"  placeholder="{{'users_email_placeholder' | translate}}"/>
                  <ng-template #errorEmail let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      {{'users_email_require' | translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('email')">
                      {{'global_email_invalid' | translate}}
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="userActive">{{'users_active' | translate}}</nz-form-label>
                <nz-form-control nzErrorTip="{{'users_active_require' | translate}}">
                  <nz-select formControlName="userActive" id="userActive"  [(ngModel)]="dataForm.userActive" nzPlaceHolder="{{'users_active_placeholder' | translate}}">
                    <nz-option *ngFor="let item of dataStatus" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row [nzGutter]="24" style="height: 90px;">
            <div nz-col nzSpan="16">
              <nz-form-item>
                <nz-form-label  nzFor="userAddress">{{'users_address' | translate}}</nz-form-label>
                <nz-form-control>
                  <textarea nz-input formControlName="userAddress" id="userAddress" [(ngModel)]="dataForm.userAddress"  placeholder="{{'users_address_placeholder' | translate}}"></textarea>
                </nz-form-control>
              </nz-form-item> 
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzFor="userWorkplaceId" nzRequired nzFor="userWorkplaceId">Đơn vị</nz-form-label>
                <nz-form-control nzErrorTip="Vui lòng chọn đơn vị">
                  <nz-tree-select id="userWorkplaceId" [nzNodes]="dataWorkplaces" nzShowSearch nzAllowClear
                  nzPlaceHolder="Chọn đơn vị" formControlName="userWorkplaceId"
                  [(ngModel)]="dataForm.userWorkplaceId"></nz-tree-select>
                </nz-form-control>
              </nz-form-item> 
            </div>
          </div>
        </form>
      </ng-template>

      <ng-template #modalFooter>
        <button nz-button nzType="primary" *ngIf="!isSpinning" (click)="submitForm()" [nzLoading]="isConfirmLoading"><i nz-icon nzType="save"></i>{{ (isAdd ? 'global_create' : 'global_edit') | translate}}</button>
        <button nz-button nzType="default"  (click)="close()"><i nz-icon nzType="close"></i>{{'global_cancel' | translate}}</button>
      </ng-template>
</nz-modal>
