.color_0 {
  background-image: linear-gradient(to right, #00acc1, #52afbb);
}
  
.color_1 {
  background-image: linear-gradient(to right, #e57373, #e68a8a);
}

.color_2 {
  background-image: linear-gradient(to right, #81c784, #92c295);
}
.color_3 {
  background-image: linear-gradient(to right, #ffb74d, #f7c985);
}

.color_4 {
  background-image: linear-gradient(to right, #267bcf, #72a0ce);
}

.color_5 {
  background-image: linear-gradient(to right, #009688, #35837b);
}

.color_6 {
  background-image: linear-gradient(to right, #ffa726, #f7b759);
}