<nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="close()"
      [nzKeyboard]="false"
      [nzMaskClosable]="false"
    >
      <ng-template #modalTitle>{{ (isAdd ? 'global_add_item' : 'global_edit_item') | translate}}</ng-template>

      <ng-template #modalContent>
        <nz-spin [nzSpinning]="isSpinning" nzSimple style="text-align: center;"></nz-spin>
        <form *ngIf="!isSpinning" nz-form [formGroup]="validateForm">
          
           
            <nz-form-item >
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="accName">{{'accounts_name' | translate}}</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="{{'accounts_name_require' | translate}}">               
                  <nz-input-group nzSearch [nzAddOnAfter]="suffixName">
                    <input nz-input formControlName="accName" id="accName" class="tolower" [(ngModel)]="dataForm.accName"  autocomplete="off"  placeholder="{{'accounts_name_placeholder' | translate}}"/>
                  </nz-input-group>
                  <ng-template #suffixName>
                      <button nz-button nzType="primary" (click)="usernameAsyncValidator()" nzSearch><i nz-icon nzType="question-circle"></i></button>
                  </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item >
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="accPassword">{{'accounts_password' | translate}}</nz-form-label>
              <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="{{'accounts_password_require' | translate}}">
                <nz-input-group [nzSuffix]="suffixTemplate">
                  <input nz-input type="password" formControlName="accPassword" id="accPassword"
                 [(ngModel)]="dataForm.accPassword" (ngModelChange)="accPasswordChange()" [type]="passwordVisible ? 'text' : 'password'"  autocomplete="new-password" placeholder="{{'accounts_password_placeholder' | translate}}"/>
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label  [nzSpan]="6" nzRequired nzFor="accFullname">{{'accounts_fullname' | translate}}</nz-form-label>
                <nz-form-control [nzSpan]="18" nzErrorTip="{{'accounts_fullname_require' | translate}}">
                  <input nz-input formControlName="accFullname" id="accFullname" [(ngModel)]="dataForm.accFullname" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6"  nzFor="accBirthday">{{'accounts_birthday' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="18" >
                <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="accBirthday" id="accBirthday" nzAllowClear="false" [(ngModel)]="dataForm.accBirthday" class="w100p" nzPlaceHolder=" "></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            
            <nz-form-item>
              <nz-form-label  [nzSpan]="6"  nzFor="accFirstname">{{'accounts_gender' | translate}}</nz-form-label>
                  <nz-form-control [nzSpan]="18" >
                    <nz-radio-group nzName="radiogroup"  formControlName="accGender" id="accGender" [(ngModel)]="dataForm.accGender" >
                      <label nz-radio nzValue="1">{{'accounts_gender_male' | translate}}</label>
                      <label nz-radio nzValue="0"> {{'accounts_gender_female' | translate}}</label>
                    </nz-radio-group>
                  </nz-form-control>
            </nz-form-item>
            
            <nz-form-item>
              <nz-form-label [nzSpan]="6"  nzRequired nzFor="accPhonenumber">{{'accounts_phone' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="18"  [nzErrorTip]="errorPhone">
                <input nz-input formControlName="accPhonenumber" id="accPhonenumber" [(ngModel)]="dataForm.accPhonenumber"/>
                <ng-template #errorPhone let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{'accounts_phone_require' | translate}}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('notPhoneNumber')">
                    {{'global_phone_invalid' | translate}}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            
            <nz-form-item>
              <nz-form-label [nzSpan]="6"  nzFor="accEmail">{{'accounts_email' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="18"  [nzErrorTip]="errorEmail">
                <input nz-input type="email" formControlName="accEmail" id="accEmail" [(ngModel)]="dataForm.accEmail" />
                <ng-template #errorEmail let-control>
                  <ng-container *ngIf="control.hasError('email')">
                    {{'global_email_invalid' | translate}}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            
            <nz-form-item>
              <nz-form-label  [nzSpan]="6"  nzFor="accAddress">{{'accounts_address' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="18" >
                <textarea nz-input formControlName="accAddress" id="accAddress" [(ngModel)]="dataForm.accAddress"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roleId">{{'accounts_role' | translate}}</nz-form-label>
              <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="{{'accounts_role_require' | translate}}">
                  <nz-select formControlName="roleId" id="roleId"  [(ngModel)]="dataForm.roleId" nzAllowClear nzPlaceHolder="{{'accounts_role_placeholder' | translate}}">
                    <nz-option *ngFor="let item of dataRole" [nzLabel]="item.roleName" [nzValue]="item.roleId"></nz-option>
                  </nz-select>
              </nz-form-control>
          </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="accStatus">{{'accounts_active' | translate}}</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="{{'accounts_active_require' | translate}}">
                    <nz-select formControlName="accStatus" id="accStatus"  [(ngModel)]="dataForm.accStatus" nzAllowClear nzPlaceHolder="{{'accounts_active_placeholder' | translate}}">
                        <nz-option *ngFor="let item of dataStatus" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
          </form>
      </ng-template>

      <ng-template #modalFooter>
        <button *ngIf="!isSpinning"  nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isConfirmLoading"><i nz-icon nzType="save"></i>{{ (isAdd ? 'global_create' : 'global_edit') | translate}}</button>
        <button nz-button nzType="default"  (click)="close()"><i nz-icon nzType="close"></i>{{'global_cancel' | translate}}</button>
      </ng-template>
</nz-modal>
