<div class="head-top marb10">
  <div class="pull-left">
    <div class="main-title">
      {{'auth_profile' | translate}}
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content">

  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">{{'accounts_avatar' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="10">
        <div class="avatar-container">
          <nz-spin [nzSpinning]="isSpinning">
            <nz-avatar [nzSrc]="dataForm.userAvatar"></nz-avatar>
            <i class="fa fa-edit avatar-edit" (click)="file.click()"></i>
          </nz-spin>


          <input type="file" #file style="display:none" (change)="selectFile($event)" name="image" />
        </div>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="userFullname">{{'accounts_fullname' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="10" nzErrorTip="{{'accounts_fullname_require' | translate}}">
        <input nz-input formControlName="userFullname" id="userFullname" [(ngModel)]="dataForm.userFullname" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="userBirthday">{{'accounts_birthday' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="10">
        <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="userBirthday" id="userBirthday" nzAllowClear="false"
          [(ngModel)]="dataForm.userBirthday" class="w100p" nzPlaceHolder=" "></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="userGender">{{'accounts_gender' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="10">
        <nz-radio-group nzName="radiogroup" formControlName="userGender" id="userGender"
          [(ngModel)]="dataForm.userGender">
          <label nz-radio nzValue="Nam">{{'accounts_gender_male' | translate}}</label>
          <label nz-radio nzValue="Nu"> {{'accounts_gender_female' | translate}}</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="userPhoneNumber">{{'accounts_phone' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="10" [nzErrorTip]="errorPhone">
        <input nz-input formControlName="userPhoneNumber" id="userPhoneNumber" [(ngModel)]="dataForm.userPhoneNumber" />
        <ng-template #errorPhone let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{'accounts_phone_require' | translate}}
          </ng-container>
          <ng-container *ngIf="control.hasError('notPhoneNumber')">
            {{'global_phone_invalid' | translate}}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="userEmail">{{'accounts_email' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="10" [nzErrorTip]="errorEmail">
        <input nz-input type="email" formControlName="userEmail" id="userEmail" [(ngModel)]="dataForm.userEmail" />
        <ng-template #errorEmail let-control>
          <ng-container *ngIf="control.hasError('email')">
            {{'global_email_invalid' | translate}}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="userAddress">{{'accounts_address' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="10">
        <textarea nz-input formControlName="userAddress" id="userAddress" [(ngModel)]="dataForm.userAddress"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="4" [nzSpan]="12">
        <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isConfirmLoading"><i nz-icon
            nzType="save"></i>{{ 'global_edit' | translate}}</button>
        <button nz-button nzType="default" (click)="cancle()"><i nz-icon nzType="close"></i>{{'global_cancel' |
          translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div class="clearfix"></div>
<loading-page [isPageLoading]="isPageLoading">
</loading-page>