<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="close()"
  [nzKeyboard]="false"
  [nzMaskClosable]="false"
>
  <ng-template #modalTitle>{{ (isAdd ? 'global_add_item' : 'global_edit_item') | translate}}</ng-template>

  <ng-template #modalContent>
    <nz-spin [nzSpinning]="isSpinning" nzSimple style="text-align: center;"></nz-spin>
    <form *ngIf="!isSpinning" nz-form [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="wpParent">Đơn vị chủ quản</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-tree-select [nzNodes]="dataWorkplaces" nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn đơn vị chủ quản" formControlName="wpParent"
                [(ngModel)]="dataForm.wpParent"></nz-tree-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="wpCode">Mã</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="errorAppTypeCode">
            <input nz-input formControlName="wpCode" id="wpCode" [(ngModel)]="dataForm.wpCode" placeholder="Nhập mã" (ngModelChange)="updateWorkplaceValidator()"/>
            <ng-template #errorAppTypeCode let-control>
              <ng-container *ngIf="control.hasError('required')">
                Vui lòng nhập mã đơn vị!
              </ng-container>
              <ng-container *ngIf="control.hasError('isExistedWorkplaceCode')">
                Mã đơn vị đã tồn tại!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="wpName">Tên đơn vị</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập tên đơn vị!">
              <input nz-input formControlName="wpName" id="wpName" [(ngModel)]="dataForm.wpName"  placeholder="Nhập loại ứng dụng"/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="wpOrder">Trọng số ưu tiên</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="wpOrder" id="wpOrder" class="w100p" [(ngModel)]="dataForm.wpOrder"
                [nzMin]="1" [nzMax]="10" [nzStep]="1" nzPlaceHolder="Nhập trọng số ưu tiên hiển thị">
              </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="wpNode">Nút</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-switch formControlName="wpNode" id="wpNode" [(ngModel)]="dataForm.wpNode"></nz-switch>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="wpStatus">Trạng thái</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="{{'roles_active_require' | translate}}">
                <nz-select formControlName="wpStatus" id="wpStatus"  [(ngModel)]="dataForm.wpStatus" nzAllowClear nzPlaceHolder="{{'roles_active_placeholder' | translate}}">
                    <nz-option *ngFor="let item of dataStatus" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
      </form>
  </ng-template>

  <ng-template #modalFooter>
    <button *ngIf="!isSpinning" nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isConfirmLoading"><i nz-icon nzType="save"></i>{{ (isAdd ? 'global_create' : 'global_edit') | translate}}</button>
    <button nz-button nzType="default"  (click)="close()"><i nz-icon nzType="close"></i>{{'global_cancel' | translate}}</button>
  </ng-template>
</nz-modal>